/* css reset */
* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

/* styles on project */
.header-div-container {
    background-color: #061249;
    padding: 25px 0;
}

.header-div {
    color: white;
    margin-left: 5%;
    display: inline-block;
}

.header-div h3:hover {
    text-decoration: overline;
}

.nav-links-container {
    margin-left: 60%;
    display: inline-block;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 0 10px;
}

.nav-link:hover {
    text-decoration: overline;
}

.header-img {
    width: 100%;
}

.header-div-text {
    color: white;
    word-spacing: 10px;
    line-height: 50px;
    position: absolute;
    bottom: 50px;
    left: 350px;
}

.header-div-text h1 {
    text-align: center;
    padding: 10px;
    font-size: 45px;
}

.header-div-text h1:hover {
    color: #061249;
    background-color: white;
}
.header-div-text h2 {
    text-align: center;
    padding: 5px;
} 

.header-div-text h2:hover {
    color: #061249;
    background-color: white;
}

.main-div-text {
    color: #061249;
    text-align: center;
    padding: 20px;
}

.project-container {
    margin: 5px;
    text-align: center;
}

.project {
    width: 30%;
    display: inline-block;
    background-color: #061249;
    color: white;
    margin: 10px;
}

.project img {
    max-width: 100%;
}

.project h2 {
    padding: 5px;
}